{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={% static "style.css" %}>
    <meta charset="UTF-8">
    <title>Парсер</title>
</head>
<body>
<h1>Парсер</h1>
<div class="wrapper">
    <table class="content-table">
        <th></th>
        {% for date in month_dates %}
            <th>{{ date }}</th>
        {% endfor %}
        {% for result in results %}
            {% for query_text, vals_dict in result.results_dict.items %}
                <tr>
                <td>{{ query_text }}</td>
                {% for value in vals_dict.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tr>
    </table>
</div>

</body>
</html>